.play-container {
  position: relative;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #c5853a;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}