.container--next {
  margin-top: 0 !important;
}
/* General styles */
.video {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; /* Space between video embed and content */
  /* padding: 20px; */
}

.video__embed {
  flex: 0 0 50vw;
  max-width: 50%;
  height: 300px; /* Maintain aspect ratio */
  border: none;
}

.video__content {
  flex: 1; /* Content takes the remaining space */
  /* padding: 20px; */
  font-size: 1rem; /* Default font size */
  font-weight: 400 !important;
}
@media (min-width: 1200px) {
  .video__embed {
    height: 370px;
  }
}
/* @media (min-width: 768px) {
  .video__embed {
    flex: 0 0 25vw;
  }
} */
.video__heading {
  font-family: "DM Sans", serif;
  margin: 0 0 10px 0 !important;
  font-size: 1.5rem;
}

.video__text {
  margin: 0 0 10px 0 !important;
  line-height: 1.6;
}
.video__text--bottom {
  margin: 0 !important;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .section {
    padding: 64px 20px !important;
  }
  .video {
    flex-direction: column; /* Stack embed and content */
    /* padding: 10px; */
  }

  .video__embed {
    flex: 0 0 auto;
    width: 100%; /* Video takes full width */
    height: 56.25vw;
    max-width: none !important;
  }

  .video__content {
    font-size: 0.875rem; /* Smaller font size */
    padding: 10px;
  }

  .video__heading {
    font-size: 1.25rem; /* Slightly smaller heading */
  }
}
